@using BonoLogin.Models
@model BonoLogin.Models.DatosBono

@{
    ViewBag.Title = "Detalles";
    ViewBag.name = Model.Nombre;
    int id_ficha = (int)Model.Id;
}

<h2>Detalle @ViewBag.name</h2>

<div>
    <h4>DatosBono</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Metodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Metodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValNominal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValNominal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValComercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValComercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnosVida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnosVida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoAno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoAno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrecPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrecPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tdea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tdea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ianual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ianual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pprima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pprima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pestructuracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pestructuracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pcolocacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pcolocacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pflotacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pflotacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PCavali)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCavali)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PGracia)
        </dt>

        <dd>
            <ul>
                @foreach (var pg in (List<PGracia>)ViewBag.ListPG)
                {
                    switch (pg.Tipo)
                    {
                        case "T":
                            <li>Periodo @pg.Periodo: "Total"</li>
                            @Html.ActionLink("Editar", "EditPG", new { id = pg.Id })
                            break;
                        case "P":
                            <li>Periodo @pg.Periodo: "Parcial"</li>
                            @Html.ActionLink("Editar", "EditPG", new { id = pg.Id })
                            break;
                        case "S":
                            <li>Periodo @pg.Periodo: "Simple"</li>
                            @Html.ActionLink("Editar", "EditPG", new { id = pg.Id })
                            break;
                        default:
                            <li>Periodo @pg.Periodo: "Simple"</li>
                            @Html.ActionLink("Editar", "EditPG", new { id = pg.Id })
                            break;
                    }
                    @*@Html.ActionLink("Update", "EditPGOne", new { id = pg.Id});*@
                }
            </ul>
            @*@Html.ActionLink("Edit PG","EditPG", new { id = Model.Id});*@
         </dd>
    </dl>
</div>

<p>
   @* @Html.ActionLink("Editar", "Edit", new { id = Model.Id })*@
    @Html.ActionLink("Ver resultados","Results", new { id = id_ficha})
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
