@model BonoLogin.Models.PGracia

@{
    ViewBag.Title = "Periodo de Gracia";
    int id_ficha = (int)Model.DatosBonoId;
    string periodo = Model.Periodo.ToString();
}

<!--BODY-->
<div class="container w-100 d-flex justify-content-center">
    <div class="card text-center mt-5 p-3 shadow">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <h2>Editar Periodo de gracia:</h2>
            <h3>Periodo "@periodo"</h3>
            <hr />
            <!--HIDDEN-->
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Periodo)
            @Html.HiddenFor(model => model.DatosBonoId)
            <!--HIDDEN-->
            <div class="form-group">
                @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.Tipo, (List<SelectListItem>)ViewBag.TiposPg, htmlAttributes: new { @class = "custom-select" })
                @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
            </div>
            <input type="submit" value="Guardar" class="btn bg-own-red" />
        }
        <hr />
        <div>
            @Html.ActionLink("Regresar al detalle", "Details", new { id = id_ficha }, htmlAttributes: new { @class="btn bg-own-blue"})
        </div>
    </div>
</div>

<!--Espacio en blanco-->
<div style="height: 15vh;"></div>
<!--Fin Espacio en blanco-->
<!--BODY-->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
