@model IEnumerable<BonoLogin.Models.DatosBono>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Metodo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValNominal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValComercial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnosVida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoAno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrecPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tdea)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Metodo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ValNominal)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ValComercial)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AnosVida)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TipoAno)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FrecPago)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tea)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tdea)
    </td>
    <td>
        @Html.ActionLink("Details", "Details", new { id = item.Id })
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
    </td>
    <td>
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
