@model BonoLogin.Models.ResultadoBono

@{
    ViewBag.Title = "Resultados";
    int periodos = Model.Bono.Split('|').ToList().Count;
}

<!--BODY-->
<div class="container w-100">
    <div class="card text-center mt-5 p-3 shadow">
        <h2>Resultados de @ViewBag.Nombre</h2>
        <hr />
        <div class="text-left mb-4">
            @Html.ActionLink("Regresar a la lista:", "Index", routeValues: null, htmlAttributes: new { @class = "btn bg-own-blue" })
        </div>
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayName("Nombre: ")
                </th>
                <td>
                    @ViewBag.Nombre
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayName("Tipo moneda: ")
                </th>
                <td>
                    @ViewBag.Moneda
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayName("Fecha de emisión:")
                </th>
                <td>
                    @ViewBag.FechaEmision
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ip)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Ip)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tep)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Tep)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tdep)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Tdep)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Van)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Van)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Va)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Va)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TirBonista)
                </th>
                <td>
                    @Html.DisplayFor(model => model.TirBonista)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TceaBonista)
                </th>
                <td>
                    @Html.DisplayFor(model => model.TceaBonista)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TirEmisor)
                </th>
                <td>
                    @Html.DisplayFor(model => model.TirEmisor)
                </td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TceaEmisor)
                </th>
                <td>
                    @Html.DisplayFor(model => model.TceaEmisor)
                </td>
            </tr>


        </table>
        <hr />
        <h4 class="text-left">Flujo: </h4>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Periodo</th>
                        <th>Bono</th>
                        <th>Bono Indexado</th>
                        <th>Cupon</th>
                        <th>Cuota</th>
                        <th>Amortizacón</th>
                        <th>Prima</th>
                        <th>Escudo</th>
                        <th>Flujo Emisor</th>
                        <th>Flujo Emisor Escudo</th>
                        <th>Flujo Bonista</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i <= periodos - 1; i++)
                    {
                        <tr>
                            <td>
                                @i
                            </td>
                            <td>
                                @Model.FlujoFechas.Split('|').ToList()[i]
                            </td>
                            <td>
                                @Model.Bono.Split('|').ToList()[i]
                            </td>
                            <td>
                                @Model.BonoIndexado.Split('|').ToList()[i]
                            </td>
                            <td>
                                @Model.Cupon.Split('|').ToList()[i]
                            </td>
                            <td>
                                @Model.Cuota.Split('|').ToList()[i]
                            </td>
                            <td>
                                @Model.Amortizacion.Split('|').ToList()[i]
                            </td>
                            <td>
                                @Model.Prima.Split('|').ToList()[i]
                            </td>
                            <td>
                                @Model.Escudo.Split('|').ToList()[i]
                            </td>
                            <td>
                                @Model.FlujoEmisor.Split('|').ToList()[i]
                            </td>
                            <td>
                                @Model.FlujoEmisorEsc.Split('|').ToList()[i]
                            </td>
                            <td>
                                @Model.FlujoBonista.Split('|').ToList()[i]
                            </td>
                        </tr>
                    }
               </tbody>
            </table>
        </div>
        <div class="text-left mb-4 mt-4">
            @Html.ActionLink("Regresar a la lista:", "Index", routeValues: null, htmlAttributes: new { @class = "btn bg-own-blue" })
        </div>
    </div>
</div>
<!--BODY-->

